.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ========== Common ========== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ========== End Common ========== */
/* ========== Container ========== */
.container {
  padding: 0 20px;
}

@media screen and (min-width: 319px) {
  .container {
    width: 319px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 727px) {
  .container {
    width: 727px;
  }
}

@media screen and (min-width: 1355px) {
  .container {
    width: 1355px;
  }
}

/* ========== End Container ========== */
.reviews {
  padding: 50px 0;
  /* &__button {
    width: 27px;
    height: 20px;
  }

  &__arrow {
    width: 25px;
    height: 15px;
    right: 0;

    &:first-child {
      margin-right: 24px;
    }

    &:last-child {
      margin-left: 24px;
    }
  } */
}

.reviews__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-align: center;
  color: #111518;
}

.reviews__item {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  /*width: 280px;
    height: 564px; */
  padding: 20px 35px;
  margin-bottom: 20px;
  text-align: center;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  /* transition: $transition; */
}

.reviews__item:nth-child(-n + 5) {
  display: none;
}

.reviews__item:last-child {
  display: none;
}

.reviews__left-side {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
}

.reviews__main-photo {
  /* width: 90px;
    height: 90px; */
  margin-bottom: 20px;
}

.reviews__social-link {
  /* margin: 20px 0; */
  width: 30px;
  height: 30px;
}

.reviews__box-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.21429;
  font-weight: 800;
  letter-spacing: 0.08em;
  color: #ff6b09;
  /*  text-align: center; */
}

.reviews__box-subtitle {
  margin-bottom: 14px;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.reviews__desc {
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 500;
  letter-spacing: 0em;
  color: #3d3d3d;
  /* text-align: center; */
}

.reviews__to-be-continued {
  font-size: 12px;
  line-height: 1.66667;
  font-weight: 500;
  letter-spacing: 0em;
  color: #ff6b09;
  text-decoration: underline;
}

.reviews__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.reviews__photo:nth-child(n + 4) {
  display: none;
}

.reviews__photo:not(last-child) {
  margin-right: 10px;
}

.reviews__link {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

@media screen and (min-width: 727px) {
  .reviews__title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1.30769;
  }
  .reviews__item {
    flex-direction: row;
    align-items: flex-start;
    /* width: 688px;
    height: 313px; */
    padding: 40px;
    margin-bottom: 30px;
    text-align: left;
    /* transition: $transition; */
  }
  .reviews__item:nth-child(-n + 5) {
    display: none;
  }
  .reviews__item:last-child {
    display: none;
  }
  .reviews__right-side {
    display: block;
    /* align-items: flex-start; */
    margin-left: 46px;
  }
  .reviews__box-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.2;
  }
  .reviews__box-subtitle {
    margin-bottom: 20px;
  }
  .reviews__photo:nth-child(n + 4) {
    display: block;
  }
}
/*# sourceMappingURL=reviews-test.css.map */